.d-avatarImg {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  margin-right: 10px;
}
.d-image {
  height: 350px;
  width: 850px;
  margin: 5px;
  border-radius: 8px;
}
.content {
  color: #2f4f4f;
  font-size: 18px;
}
.d-profile {
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin-left: 5px;
}
.blog-details-container {
  width: 900px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.d-title {
  padding-left: 40px;
}
@media screen and (max-width: 767px) {
  .d-title {
    font-size: 18px;
    padding-left: 10px;
  }
  .d-avatarImg {
    width: 20px;
    height: 20px;
  }
  .blog-details-container {
    width: 320px;
    padding: 10px;
  }
  .d-image{
    height: 150px;
    width: 95%;
  }
  .content{
    font-size: 14px;
  }
}
